// Zellij dev layout for live testing of zellij_monitor.
// Run with: zellij --layout zellij.kdl

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }

        pane

        pane size=1 borderless=true {
            plugin location="file:target/wasm32-wasip1/debug/zellij_monitor.wasm" {
                show_cpu        "true"
                show_memory     "true"
                show_cpu_temp   "true"
                show_disk       "false"
                show_network    "false"
                show_loadavg    "false"
                refresh_interval "5"
                disk_path       "/"
                network_interface "all"
                cpu_warn_pct    "80"
                mem_warn_pct    "80"
                disk_warn_pct   "80"
                cpu_temp_warn   "80"
            }
        }

        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
